* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0d0d0d;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #111;
  padding: 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-item {
  color: #bbb;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.nav-item:hover{
  color:#e74c3c;
}

.main-content {
  flex-grow: 1;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  align-items: center;
  gap: 60px;
}

.text-content h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.text-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #e74c3c;
}

.text-content p {
  font-size: 16px;
  max-width: 500px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.download-btn:hover {
  background-color: #c0392b;
}

.image-content img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrapper::before,
.image-wrapper::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid red;
}

.image-wrapper::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.image-wrapper::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}